{% extends "layout.html" %}
{% block content %}
<div class='container'>
	<div class="shadow-lg p-3 mb-5 bg-white rounded">
		<div class='lead text-center'>Visualizing Path Finding Algorithms and Maze Generation</div>
		<div style='height:20px'></div>
		<div class="embed-responsive embed-responsive-16by9">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/I4dEXJq-kPw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<div style='height:20px'></div>
		<div>
			<p>Algorithm visualizer with Pygame:</p>
			<ul>
				<li>- Path Finding Algorithms: Dijkstra's, A*, DFS</li>
				<li>- Maze Generation with Randomized DFS, Recursive Division</li>
			</ul>
			<p>Download the code and try it out: <a href="https://github.com/Jiaweihu08/Visualizer-for-pathfinding-algorithms-and-maze-generation">GitHub</a></p>
		</div>
	</div>
</div>
{% endblock content %}