{% extends "layout.html" %}
{% block content %}
<div class='container'>
	<div class="shadow-lg p-3 mb-5 bg-white rounded">
		<div class='lead text-center'>Visualizing Different Sorting Algorithms</div>
		<div style='height:20px'></div>
		<div class="embed-responsive embed-responsive-16by9">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/Pcrj5vNqLNY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<div style='height:20px'></div>
		<div>
			<p>Algorithm visualizer with Pygame:</p>
			<ul>
				<li>1. Merge Sort</li>
				<li>2. Heap Sort</li>
				<li>3. Quick Sort</li>
				<li>4. Bubble Sort</li>
			</ul>
			<p>Download the code and try it out: <a href="https://github.com/Jiaweihu08/Visualizing-Sorting-Algorithms">GitHub</a></p>
		</div>
	</div>
</div>
{% endblock content %}